{% extends 'tasks/base.html' %}
    
{% block content %}
    
    <h3 class="subtitle">Proyectos</h3>
    
   <table class="table">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>fechas</th>
        </tr>
      </thead>
      {% for project in projects %}
      <tr>
            <td>{{ project.code }}</td>
            <td>{{ project.name }}</td>
            <td>
              Desde {{ project.start_date }} hasta {{ project.end_date }}
            </td>
      </tr>
      {% endfor %}
   </dl> 

{% endblock content %}





  </body>
</html>