{% extends 'tasks/base.html' %}

{% block titulo %}
Lista de proyectos ~ TaskMaster! Tu gestor de tareas
{% endblock titulo %}

{% block content %}

   <table class="table">
        {% for project in projects %}
          <tr>
            <td>
              {% url 'detalle_proyecto' pk=project.pk %}
              <br>
              {% url 'proyecto_por_codigo' code=project.code %}

            </td>
            <td>{{ project.code }}</td>
            <td>
              <a class="button is-info is-small"
                 href="{% url 'proyecto_por_codigo' code=project.code %}">
              {{ project.name }}
              </a>
            </td>
          </tr>  
        {% endfor %}
   </table> 

   <p>hola</p>
{% endblock content %}