<table class="table">
    <tr>
      <th>Nombre</th>
      <th>Prioridad</th>
      <th>Fuera de plazo</th>
      <th>Proyecto</th>
      <th>Color</th>
    </tr>

  {% for tarea in tareas %}
    <tr>
      <td class="{% if tarea.priority == 'H' %}tarea-urgente{% endif %}">
        {{ tarea.name }}
      </td>
      <td>{{ tarea.get_priority_display }}</td>
      <td>
        {% if tarea.is_due %}
          <b class="tag is-danger" >Fuera de plazo</b>
        {% endif %}
      </td>
      
      <td>
        {% if tarea.project %}
          <b>{{ tarea.project }}</b>
        {% else %}
          <i>-</i>
        {% endif %}
      </td>
      <td style="background-color: {{ tarea.color }}">
        {{ tarea.color }}
      </td>
    </tr>
  {% endfor %}
  </table>